*{
    margin: 0;
    border: 0;
    font-family: sans-serif;
}

body{
    background:radial-gradient(circle,rgb(61, 58, 159) 100%, rgb(80, 2, 116) 98% );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    background-color: black;
    color: aliceblue;
    padding: 2rem;
    border-radius: 20px;
    text-align: left;
    
}

.title{
    font-size: 1.5em;
    margin-bottom: 0.2rem;
}

.container-input{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}


.container-input label{
    margin: 1rem 0 0.5rem 0;
}

.container-input input{
    height: 3vh;
    padding-left: 0.5rem;
    border: 0;
    color: aliceblue;
    background-color: transparent;
    border: none;
    text-decoration: none;
    border-bottom: 1px solid rgb(80, 2, 116);
    font-size: 1em;
    transition: 0.5s;
}

.container-input input:hover{
    transform: scale(1.02);
}

.container-input input:focus{
    outline: none;
}

.result{
    margin: 1rem 0 0 0;
    text-align: center;
    font-size: 1em;
}

#total{
    font-size: 2em;
}

button{
    background: linear-gradient(90deg,rgb(128, 123, 255), rgb(80, 2, 116), rgb(9, 12, 153)) ;
    color: aliceblue;
    width: 70%;
    margin: 0.4rem 0 0 0;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1em;
    cursor: pointer;
    align-self: center;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 420px)  {

    .container{
        border-radius: 20px;
        width: 65%;
        padding: 2rem;
        position: fixed;
    }

    .title{
        font-size: 1.5em;
        position: absolute;
        margin-bottom: 3rem;
        margin: 0 1rem 0 0;
    }

    .container-input{
        width: 100%;
        font-size: 1em;
        margin: auto;
    }

  }


